@use '../custom' as *;

.btn{
    font-family: "Antonio", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    font-style: normal;
    &:hover{
        color: $secondary;
        letter-spacing: 0.1rem;
        font-weight: 600;
        transition: all 0.3s ease;
    }
}